.Home{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.aaa{
    position: sticky;
    top: 0;
    position: -webkit-sticky;
}
.fhjfytvghj{
    width: 70%;
    /* margin-bottom: 5%; */
    line-height: 18px;
}
.uygiuyvuiyg{
   padding-top: 3%;
}
.Homeinner{
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    height: 100%;
    /* border: 1px solid red; */
}
.hgftuyki{
    font-family: nair400Regu;
    font-size: 1.1vw;
    line-height: 1.1vw;
    font-weight:400 ;
    padding: 0;
    margin: 0;
}
.jgfyiuglij{
    display: flex;
    column-gap: 1.2vw;
}
.vhyyfugyubi{
    display: flex;
    align-items: center;
    column-gap: 0.8vw;
}
.vhyyfugyubi img{
    width: 0.87vw;
    height: 0.81vw;
}
.exploreinner{
    font-family: nair400Regu;
    font-size: 1.04vw;
    line-height: 1.04vw;
    font-weight:400 ;
    /* border: 1px solid red; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
.exploreinner p{
    margin-top: 2.4vw;
    margin-left: 1.2vw;
}
#bvjyh{
    opacity: 0.5;
}
.jhfgyu{
    color: #141414;
}
.layoutojk{
    height: 30svh;
 width: 80%;
 margin: auto;
    /* margin-top: auto; */
    /* border: 1px solid red; */
}

.Deginershome{
    
    /* border: 1px solid red; */
    display: flex;
    column-gap: 1.5%;
    justify-content: space-between;
}
.desiinne{
    width: 25%;
}
.desiinne img{
    width: 100%;
}
.desiinne h1{
    font-weight: 500;
    letter-spacing: 0.01046vw;
    font-family: nair400Semibold;
    font-size: 1.2vw;
    padding: 1% 0;
}
#hgfdc{
    font-family: nair400;
    font-weight: 300;
}
.linethrow{
    width: 100%;
    height: 1px;
    background-color:rgba(187, 187, 187, 1)    ;
}
#jhgfyu{
    width: 2.27vw;
    height: 2.27vw;
    padding-left: 2%;
    padding-right: 2%;
}
.lastright{
    /* border: 1px solid red; */
    display: flex;
    column-gap: 10px;
    align-items: center;
}
#jhgfyulast{
    width: 1.6vw;
    height: 1.6vw;
}
.lasthome{
    /* padding: 8% 0; */
    padding-top: 8%;
    padding-bottom: 10%;
}
.yug8bui{
    display: flex;
    /* column-gap: 20px; */
    font-family: nair400Regu;
    font-size: 1.1vw;
    line-height: 1.1vw;
    font-weight:400 ;
    justify-content: center;
}
.yug8bui a{
    font-family: nair400Regu;
    color: rgba(30, 30, 30, 1);
}
.jtf7iyub{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.innercard{
    width: 90%;
}
.hftfuyu{
    margin-left: 5%;
    /* padding-right:5%; */
}
.parahome{
    font-family: nair400;
    font-size: 1.3vw;
    line-height: 1.5vw;
    font-weight:300 ;
}
.homedesc{
    font-size: 1.9vw;
    line-height: 2.2vw;
    font-family: "fields-display", sans-serif;
    font-weight: 500;
    padding-bottom: 1.7%;
    padding-top: 0.1%;
}
.fgyg{
    /* border: 1px solid red; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-family: nair400Regu;
    font-size: 0.9vw;
    line-height: 0.9vw;
    font-weight:400 ;
    padding-top: 1.4%;
    color: rgba(30, 30, 30, 1);
}
.jgfi7uy{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#uyfug{
    opacity: 0.5;
    /* border: 1px so?lid red; */
    margin-top: 5%;
    display: none;
}
.lastfooteend{
    display: flex;
    justify-content: center;
    padding-top: 4.5%;
}
.lasjio{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

@media (max-width : 769px) {
    .lasjio{
       display: inline;
    column-gap: 0;

    }
    .Deginershome{
        /* width: 100%; */
      display: inline;
      /* padding-top: 100%; */
      /* border: 1px solid red; */
    }
    .desiinne{
        width: 100%;
      /* border: 1px solid red; */
margin-top: 2%;
    }
    .Homeinner{
        width: 90%;
    }
    .desiinne h1{
        font-size: 18px;
    }
    .parahome{
       font-size: 18px;
       margin-top: 10%;
       line-height: 18px;
    }
    .homedesc{
  font-size: 24px;
  line-height: 24px;
    }
    .fgyg{
        font-size: 18px;
        line-height: 24px;
        padding: 4% 0;
    }
    .exploreinner{
        font-family: nair400Regu;
        font-size: 16px;
        line-height: 19.2px;
        font-weight:400 ;
        margin-top: 0;
        /* border: 1px solid red; */
        /* text-align: center; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .exploreinner p{
        /* margin-top: 10%; */
        margin-left: 20px;
    }
    #jhgfyu{
        width: 40px;
        height: 15px;
        /* border: 1px solid red; */
        /* padding-top: 2%; */
    }
    #jhgfyulast{
        width: 25px;
        height: 15px;
    }
    .lastfooteend{
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */

    }
    #uyfug{
        display: block;
    }
    #bvjyh{
        display: none;
    }
    .yug8bui{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56%;
        padding-top: 5%;
        color: rgba(30, 30, 30, 1);
        font-size: 15.93px;
        line-height: 20.93px;
        text-align: center;
    }
  
    .hjvuyo{
        padding-top: 2%;
    }
    .lasthome{
        
        padding-bottom: 18%;
    }
}
